.about {
  display: grid;
  grid-template-columns: 0.5fr repeat(2, 1.5fr) 0.5fr;
  grid-template-rows: 1.33fr repeat(3, 1fr) 0.33fr 1.5fr 1fr 0.5fr 0.75fr;
  gap: 0 0;
}

.about--text {
  font-size: clamp(1rem, 2.5vw, 1.75rem);
  line-height: 24px;
  grid-area: 2 / 1 / 5 / 5;
  display: flex;
  align-items: center;
}

.about--image {
  object-fit: cover;
  width: 0;
  height: 0;
  min-width: 100%;
  min-height: 100%;
  filter: grayscale();
  image-rendering: optimizeSpeed;
  border-radius: 36px 36px 0 0;
  grid-area: 6 / 2 / 10 / 4;
}

.about--footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 10 / 1 / 8 / 5;
}

.about--marquee {
  min-width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
}

.icons-year {
  width: 25vw;
  margin-bottom: -8px;
}

.icons-geo {
  width: 100%;
  animation: marquee 10s linear infinite;
  animation-delay: 0s;
}

@media screen and (min-width: 540px) {
  .about {
    grid-template-columns: 0.5fr 0.75fr repeat(2, 1.25fr) 0.75fr 0.5fr;
    grid-template-rows: 1.33fr repeat(3, 1fr) 0.5fr 1.5fr 0.75fr 0.5fr 0.65fr;
  }

  .about--text {
    line-height: clamp(3.5vw, 4vw, 4.5vw);
    grid-area: 2 / 2 / 5 / 6;
  }

  .about--image {
    grid-area: 5 / 3 / 10 / 5;
  }

  .about--footer {
    padding-bottom: 24px;
    justify-content: flex-end;
    grid-area: 10 / 2 / 7 / 6;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    grid-template-columns: repeat(5, 1fr) 0.5fr 0.8fr 1.5fr 1fr 1.5fr 0.5fr 0.66fr;
    grid-template-rows: 0.5fr 1fr 0.33fr 1.5fr 1.5fr 0.33fr 1.1fr 1.33fr;
  }

  .about--text {
    font-size: 1rem;
    line-height: 1.5rem;
    grid-area: 4 / 1 / 6 / 7;
  }

  .about--image {
    grid-area: 3 / 8 / 8 / 12;
  }

  .about--footer {
    grid-area: 7 / 1 / 9 / 13;
  }

  .about--marquee {
    min-width: auto;
  }

  .icons-year {
    width: 20vw;
    margin-bottom: -24px;
  }

  .icons-geo {
    animation: none;
  }
}

@media screen and (min-width: 1440px) {
  .about {
    grid-template-columns: 0.66fr repeat(4, 1fr) 0.5fr 0.8fr 1.5fr 1fr 1.5fr 0.5fr 0.66fr;
    grid-template-rows: 0.5fr 1fr 0.33fr 1.5fr 1.5fr 0.66fr 1.1fr 1.33fr;
  }

  .about--text {
    font-size: 1.45rem;
    line-height: 2rem;
    grid-area: 4 / 1 / 6 / 7;
  }

  .about--image {
    grid-area: 3 / 8 / 8 / 11;
  }

  .about--footer {
    grid-area: 6 / 1 / 9 / 13;
  }
}

@media screen and (min-width: 1920px) {
  .about {
    grid-template-columns: 0.33fr repeat(5, 0.5fr) 0.66fr repeat(3, 0.66fr) 0.5fr 0.33fr;
    grid-template-rows: 0.5fr 1fr 0.66fr 1.5fr 1.5fr 0.66fr 1.1fr 1.33fr;
  }

  .about--text {
    font-size: 1.16vw;
    line-height: 1.65vw;
    grid-area: 4 / 2 / 6 / 7;
  }

  .about--image {
    grid-area: 3 / 8 / 8 / 11;
  }

  .about--footer {
    grid-area: 6 / 2 / 9 / 12;
  }
}

@keyframes marquee {
  from {
    transform: scale(1.4) translateX(100%) translateZ(0);
  }

  to {
    transform: scale(1.4) translateX(-100vw) translateZ(0);
  }
}
