.container {
  height: 100%;
  overflow-y: auto; /* Prevents unwanted scrollbars on Linux machines */
  position: relative;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
}

.container::-webkit-scrollbar {
  display: none;
}

@supports (scroll-snap-align: start) {
  .container {
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
  }
}

.container section {
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width: 1024px) {
  .container {
    width: calc(100% - 168px);
  }
}
