.container {
  max-height: 100vh;
  overflow-y: auto; /* Prevents unwanted scrollbars on Linux machines */
  position: relative;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: var(--sidebar-offset--desktop);
}

.container::-webkit-scrollbar {
  display: none;
}

@supports (scroll-snap-align: start) {
  .container {
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
  }
}

.container section {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 475px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: calc(100% - 180px);
  }
}
