.experience--headline {
  display: flex;
  flex-direction: column;
}

.experience--year,
.experience--company {
  font-family: 'Optik Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.experience--year {
  font-size: 7vw;
  transform: rotate3d(5, 1, -1, 20deg);
  border-top: 2px solid var(--white);
  line-height: 32px;
  padding: 8px 0 40px 0;
}

.experience--position {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: italic;
  font-size: 12.5vw;
  line-height: 11vw;
  margin-top: 32px;
}

.experience--company {
  margin-top: 16px;
  font-size: 8vw;
  line-height: 32px;
  padding: 8px;
}

.experience--tech-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 8px;
  margin: 16px 0;
}

.experience--tech-item {
  font-style: normal;
  padding: 2px 8px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  background-color: #243d57;
}

.experience--summary {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  list-style: none;
}

.experience--summary-paragraph {
  display: flex;
}

.experience--summary-paragraph::before {
  text-align: right;
  content: '+';
  font-size: 1.4em;
  font-weight: bold;
  color: var(--white);
  padding-right: 16px;
  margin-top: -5px;
}

@media screen and (min-width: 768px) {
  .experience--year {
    font-size: 40px;
    padding-top: 24px;
  }

  .experience--position {
    font-size: 80px;
    line-height: 72px;
    margin-top: 64px;
    max-width: 80%;
  }

  .experience--company {
    font-size: 48px;
    line-height: 56px;
  }

  .experience--tech-list {
    gap: 16px;
    max-width: 80%;
  }

  .experience--tech-item {
    font-size: 16px;
    font-weight: 400;
  }

  .experience--summary {
    gap: 24px;
    font-size: 18px;
    padding-top: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .experience--year {
    padding-top: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .experience {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .experience--container {
    min-width: 50%;
  }

  .experience--year {
    padding: 0 0 24px;
    border-top: none;
  }

  .experience--position {
    margin-top: 0;
    font-size: 72px;
  }

  .experience--tech-list {
    height: fit-content;
    gap: 16px;
    max-width: 65%;
  }

  .experience--tech-item {
    height: fit-content;
  }

  .experience--summary {
    min-width: 50%;
    font-size: 20px;
    line-height: 32px;
  }

  .experience--summary-paragraph::before {
    padding-right: 24px;
    margin-top: 0;
  }
}
