.facade {
  width: var(--sidebar-offset--desktop);
  border-right: var(--border-24);
  background-color: var(--black);
  z-index: 4;
  padding: 2em 2em 2em 180px;
  position: absolute;
  height: calc(100% - 144px);
  top: 0;
  width: 100%;
  padding: 0 28px;
  margin-top: 4px;
  border-right: none;
  border-bottom: var(--border-4);
}

.facade--container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 4;
}

.socials--horizontal {
  margin: 24px 0 0;
}

.facade--sc {
  background: var(--white);
  position: absolute;
  pointer-events: none;
  z-index: 3;
  display: flex;
  align-items: center;
  bottom: -56px;
  transform: rotate(270deg);
  right: auto;
  width: 72px;
  height: 182px;
  clip-path: circle(36% at 0%);
}
/* transform: rotate(180deg);  */
/*   width: 244px;
     height: 244px; */

.facade--sc .circle {
  background-color: var(--black);
  border-radius: 50%;
  position: relative;
  height: 92px;
  width: 92px;
  flex-shrink: 0;
  right: 46px;
}

/* @media screen and (min-width: 1024px) and (max-height: 820px) {
  .facade {
    padding-left: 88px;
    border-right: 12px solid var(--white);
    width: calc(100% - 168px);
  }

  .facade--sc {
    height: 160px;
    width: 160px;
    right: -36px;
  }

  .facade--sc .circle {
    right: 72px;
    height: 138px;
    width: 138px;
  }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
  .facade {
    padding-left: 96px;
  }
}
 */
