.facade {
  width: var(--sidebar-offset--desktop);
  border-right: var(--border-24);
  background-color: var(--black);
  z-index: 4;
  padding: 2em 2em 2em 180px;
  position: absolute;
  height: calc(100% - 144px);
  top: 0;
  width: 100%;
  padding: 0 28px;
  margin-top: 4px;
  border-right: none;
  border-bottom: var(--border-4);
}

.facade--container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 4;
}

.socials--horizontal {
  margin: 16px 0 0;
}

.facade--sc {
  background: var(--white);
  position: absolute;
  pointer-events: none;
  z-index: 3;
  display: flex;
  align-items: center;
  bottom: -56px;
  transform: rotate(270deg);
  right: auto;
  width: 72px;
  height: 182px;
  clip-path: circle(36% at 0%);
}

.facade--sc .circle {
  background-color: var(--black);
  border-radius: 50%;
  position: relative;
  height: 90px;
  width: 89px;
  flex-shrink: 0;
  right: 45px;
}

@media screen and (min-width: 768px) {
  .facade {
    height: calc(100% - 160px);
  }

  .socials--horizontal {
    margin: 24px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .facade {
    height: 100%;
    left: 0;
    padding-left: 88px;
    border-right: 12px solid var(--white);
    border-bottom: 0;
    width: calc(100% - 156px);
    margin: 0;
  }

  .facade--container {
    align-items: flex-start;
  }

  .facade--sc {
    height: 160px;
    width: 160px;
    right: -36px;
    transform: rotate(180deg);
    bottom: auto;
    display: inline-flex;
    clip-path: circle(50% at 1%);
    align-items: center;
  }

  .facade--sc .circle {
    height: 138px;
    width: 138px;
    right: 68px;
  }

  .socials--horizontal {
    margin: 16px 0 0 -4px;
  }
}

@media screen and (min-width: 1440px) {
  .facade {
    padding-left: 15vw;
  }
}
