.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 64px;
  color: var(--white);
  pointer-events: none;
  margin-top: 64px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header--text {
  font-family: 'Optik Sans', 'Bebas Neue', sans-serif;
  font-size: 128px;
  line-height: 80px;
  margin: 0;
  max-width: 500px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 50%;
  pointer-events: auto;
}

.navbar--button {
  background-color: var(--grey);
  width: 48px;
  height: 16px;
}

.navbar--nav.active .navbar--button {
  background-color: var(--white);
}

@media screen and (max-width: 475px) {
  .header {
    padding: 0 24px 16px 24px;
    margin-top: 28px;
  }

  .header--text {
    font-size: 12vw;
    line-height: 7vw;
    max-width: 250px;
  }

  .navbar {
    width: auto;
    gap: 16px;
  }

  .navbar--button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
}
