.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 16px 8px 24px;
  color: var(--white);
  pointer-events: none;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  backdrop-filter: blur(3px);
}

.header--text {
  font-family: 'Optik Sans', 'Bebas Neue', sans-serif;
  font-size: 12vw;
  line-height: 7.5vw;
  margin: 0;
  max-width: 150px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 16px;
  width: auto;
  pointer-events: auto;
}

.navbar--button {
  background-color: var(--grey);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.navbar--nav.active .navbar--button {
  background-color: var(--white);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 48px 48px 8px 48px;
  }

  .header--text {
    font-size: 9vw;
    line-height: 6vw;
    max-width: 200px;
  }

  .navbar {
    width: auto;
    gap: 24px;
  }

  .navbar--button {
    width: 48px;
    height: 16px;
    border-radius: initial;
  }
}

@media screen and (min-width: 1024px) {
  .header--text {
    font-size: 7.5vw;
    line-height: 5vw;
  }

  .navbar {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .header--text {
    font-size: 6vw;
    line-height: 4vw;
  }
}
