.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  color: var(--white);
  pointer-events: none;
}

.header--text {
  font-family: 'Optik Sans', 'Bebas Neue', sans-serif;
  font-size: 128px;
  font-display: swap;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 50%;
  pointer-events: auto;
}

.navbar--button {
  background-color: var(--grey);
  width: 48px;
  height: 16px;
}

.navbar--nav.active .navbar--button {
  background-color: var(--white);
}
