.main-headline {
  color: var(--white);
}

.main-headline--headline {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-headline--subheadline {
  font-family: 'Optik Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-headline--big .main-headline--headline {
  font-size: 14vw;
  max-width: 75%;
  line-height: 13vw;
}

.main-headline--big .main-headline--subheadline {
  font-size: 72px;
  line-height: 64px;
  margin: -8px 0 0 16px;
  text-wrap: nowrap;
}

.main-headline--small {
  transform: rotate(-90deg);
  margin-bottom: 44px;
}

.main-headline--small .main-headline--headline {
  font-size: 56px;
  line-height: 56px;
}

.main-headline--small .main-headline--subheadline {
  font-size: 18px;
  line-height: 0.8;
  margin-left: 4px;
}

@media screen and (max-width: 475px) {
  .main-headline--big {
    text-align: center;
  }

  .main-headline--big .main-headline--headline {
    font-size: 72px;
    line-height: 68px;
    max-width: none;
  }

  .main-headline--big .main-headline--subheadline {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
  }

  .main-headline--small {
    margin: 0;
    width: min-content;
    transform: none;
  }

  .main-headline--small .main-headline--headline {
    font-size: 30px;
    line-height: 30px;
  }

  .main-headline--small .main-headline--subheadline {
    font-size: 10px;
    line-height: 10px;
    margin-left: 2px;
    text-wrap: nowrap;
  }
}
