.main-headline {
  color: var(--white);
}

.main-headline--headline {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-headline--subheadline {
  font-family: 'Optik Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-headline--big {
  text-align: center;
}

.main-headline--big .main-headline--headline {
  text-wrap: nowrap;
  font-size: 11vw;
  line-height: 13vw;
  margin: 0;
}

.main-headline--big .main-headline--subheadline {
  text-wrap: nowrap;
  font-size: 5.3vw;
  line-height: 6vw;
  margin: 0;
}

.main-headline--small {
  margin: 0;
  width: min-content;
  transform: none;
}

@media screen and (min-width: 1024px) and (max-height: 820px) {
  .main-headline--small {
    transform: rotate(-90deg);
    margin-bottom: 44px;
  }
  .main-headline--small .main-headline--headline {
    font-size: 40px;
    line-height: 40px;
  }

  .main-headline--small .main-headline--subheadline {
    font-size: 13px;
    line-height: 13px;
  }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
  .main-headline--big .main-headline--headline {
    margin-left: -8px;
  }

  .main-headline--big .main-headline--subheadline {
    margin-bottom: 0;
  }
}
