.sidebar {
  height: 100%;
  background-color: var(--black);
  width: 240px;
  position: fixed;
  right: 0;
  top: 0;
  overflow: visible;
  display: flex;
  align-items: center;
  border-left: var(--border-24);
  z-index: 4;
  pointer-events: none;
}

.sidebar--button-container {
  background: transparent;
  height: 244px;
  width: 244px;
  border-radius: 50%;
  position: absolute;
  left: -135px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}

.sidebar--button {
  height: 192px;
  width: 192px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  border-radius: 50%;
  background-color: var(--black);
  z-index: 8;
}

.sidebar--sc {
  display: inline-block;
  width: 244px;
  height: 244px;
  clip-path: circle(50% at 0%);
  background: var(--white);
  position: absolute;
  left: 120px;
  pointer-events: none;
  z-index: 8;
}

.sidebar--panels {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar--socials,
.sidebar--headline {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0;
  pointer-events: none;
}

.sidebar--socials {
  align-items: center;
  border-bottom: var(--border-8);
  justify-content: flex-start;
  flex-direction: column;
  gap: 36px;
}

.sidebar--socials a {
  pointer-events: auto;
}

.sidebar--socials svg {
  height: 40px;
  width: 40px;
}

.sidebar--headline {
  align-items: flex-end;
  border-top: var(--border-8);
  padding-bottom: 64px;
}
