.socials {
  gap: 48px;
  display: flex;
}

.socials svg {
  height: 48px;
  width: 48px;
}

.socials--vertical {
  flex-direction: column;
}

@media screen and (max-width: 475px) {
  .socials {
    gap: 56px;
  }

  .socials svg {
    height: 32px;
    width: 32px;
  }

  .socials--vertical {
    flex-direction: row;
  }
}
