.socials {
  gap: 48px;
  display: flex;
}

.socials svg {
  height: 32px;
  width: 32px;
}

.socials--vertical {
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .socials svg {
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .socials--vertical {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
