.socials {
  gap: 48px;
  display: flex;
}

.socials--link {
  pointer-events: auto;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: var(--white);
  transform-origin: bottom bottom;
}

.socials--link:hover {
  transform: scale(1.1);
}

.socials svg {
  height: 32px;
  width: 32px;
}

.socials--vertical {
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .socials svg {
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .socials--vertical {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .socials {
    gap: 72px;
  }
}
